@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ozan Yurtisigi</h1>
    <h2>A01330869</h2>
    <p>When I graduate, I want to get a job at Microsoft,
        preferably working on the backend, but that is just a dream,
        I would be ok with working anywhere as long as I get a job 
        relatively fast after graduating.
    </p>
</div>
